<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 translate="homepage.title.key"></h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item routerLink="/about">
                <mat-icon matListItemIcon >perm_identity</mat-icon>
                <h1 matListItemTitle translate="about.title.key"> </h1>
                <span matListItemLine translate="about.title.description"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/skills">
                <mat-icon matListItemIcon >biotech</mat-icon>
                <h1 matListItemTitle translate="skills.title.key"> </h1>
                <span matListItemLine translate="skills.title.description"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/experience">
                <mat-icon matListItemIcon >military_tech</mat-icon>
                <h1 matListItemTitle translate="experience.title.key"> </h1>
                <span matListItemLine translate="experience.title.description"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/studies">
                <mat-icon matListItemIcon >history_edu</mat-icon>
                <h1 matListItemTitle translate="studies.title.key"> </h1>
                <span matListItemLine translate="studies.title.description"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/languages">
                <mat-icon matListItemIcon >translate</mat-icon>
                <h1 matListItemTitle translate="languages.title.key"> </h1>
                <span matListItemLine translate="languages.title.description"> </span>
            </mat-list-item>
            
            <mat-list-item routerLink="/gallery">
                <mat-icon matListItemIcon >collections</mat-icon>
                <h1 matListItemTitle translate="gallery.title.key"> </h1>
                <span matListItemLine translate="gallery.title.description"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/contacts">
                <mat-icon matListItemIcon >contacts</mat-icon>
                <h1 matListItemTitle translate="contacts.title.key"> </h1>
                <span matListItemLine translate="contacts.title.description"> </span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>