.medium-icon{
    width:75px;
    height:75px;
}

.logo{
    width:150px;
    height:150px;
}


::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    height:150px !important;
   }

h3, h2{
    margin:0;
    padding:0;
}

.positionType{
    font-size: 48px;
}

.thumbnail{
    width:75px;
    height:75px;
}

div{
    margin:2px;
    padding:2px;
}


.maxHeight{
    height:100%;
}

.logoAction{
    height:150px;
}

.maxWidth{
    width: 100%;;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.gap{
    margin:10px;
}

.public{
    color:green;
}
.private{
    color:red;
}

.main{
    margin:5px;
    margin-bottom:10vh;
}