<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 [innerHTML]="translator.translations['homepage.title.key']"></h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-action-list>
            <mat-list-item routerLink="/about">
                <mat-icon>perm_identity</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['about.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['about.title.description']"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/skills">
                <mat-icon>biotech</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['skills.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['skills.title.description']"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/experience">
                <mat-icon>military_tech</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['experience.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['experience.title.description']"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/studies">
                <mat-icon>history_edu</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['studies.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['studies.title.description']"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/languages">
                <mat-icon>translate</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['languages.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['languages.title.description']"> </span>
            </mat-list-item>
            
            <mat-list-item routerLink="/gallery">
                <mat-icon>collections</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['gallery.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['gallery.title.description']"> </span>
            </mat-list-item>
            <mat-list-item routerLink="/contacts">
                <mat-icon>contacts</mat-icon>
                <h1 matLine [innerHTML]="translator.translations['contacts.title.key']"> </h1>
                <span matLine [innerHTML]="translator.translations['contacts.title.description']"> </span>
            </mat-list-item>
        </mat-action-list>

    </mat-card-content>
</mat-card>