<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>
                <strong>Homepage</strong>
            </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>


        <mat-action-list>
            <mat-list-item routerLink="/about">
                <mat-icon>perm_identity</mat-icon>
                <h1 matLine> About</h1>
                <span matLine> Short summary about who I am</span>
            </mat-list-item>
            <mat-list-item routerLink="/skills">
                <mat-icon>military_tech</mat-icon>
                <h1 matLine> Skills</h1>
                <span matLine> What I know and can do</span>
            </mat-list-item>
            <mat-list-item routerLink="/experience">
                <mat-icon>history</mat-icon>
                <h1 matLine> Experience</h1>
                <span matLine> All my previous professional and personnal experience</span>
            </mat-list-item>
            <mat-list-item routerLink="/studies">
                <mat-icon>history_edu</mat-icon>
                <h1 matLine> Studies</h1>
                <span matLine> All my studies and certifications</span>
            </mat-list-item>
            <mat-list-item routerLink="/languages">
                <mat-icon>translate</mat-icon>
                <h1 matLine> Languages</h1>
                <span matLine> All the languages I know</span>
            </mat-list-item>
            <mat-list-item routerLink="/gallery">
                <mat-icon>collections</mat-icon>
                <h1 matLine> Gallery</h1>
                <span matLine> Softwares & achievements</span>
            </mat-list-item>
            <mat-list-item routerLink="/contacts">
                <mat-icon>contacts</mat-icon>
                <h1 matLine> Contacts </h1>
                <span matLine> Miscellaneous</span>
            </mat-list-item>
        </mat-action-list>

    </mat-card-content>
</mat-card>