<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Études</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxFlex fxLayout fxLayoutAlign="center center">
            <mat-vertical-stepper [linear]="false" #stepper>
                <ng-template matStepperIcon="edit">
                    <mat-icon>school</mat-icon>
                </ng-template>
                <mat-step *ngFor="let study of studies" state="edit">
                    <ng-template matStepLabel>
                        <div fxFlex fxLayout fxLayoutAlign="left center">
                            <div fxFlex="45">
                                <h3 [innerHTML]="study.school"></h3>
                                <span [innerHTML]="study.location"></span>
                            </div>
                            <div fxFlex="25">
                                <h3 [innerHTML]="'From'"></h3>
                                <span [innerHTML]="study.from"></span>
                            </div>
                            <div fxFlex="25">
                                <h3 [innerHTML]="'To'"></h3>
                                <span [innerHTML]="study.to"></span>
                            </div>
                        </div>
                    </ng-template>

                    <div fxFlex fxLayout fxLayoutAlign="left center">
                        <div fxFlex="45">
                            <h3> School </h3>
                        </div>
                        <div fxFlex="45" fxLayout="column wrap">
                            <span [innerHTML]="study.school"></span>
                            <span [innerHTML]="study.location"></span>
                            <span [innerHTML]="study.diploma"></span>
                        </div>

                    </div>
                    <hr />
                    <div fxFlex fxLayout fxLayoutAlign="left center">
                        <div fxFlex="45">
                            <h3> Specialization </h3>
                        </div>
                        <div fxFlex="45">
                            <span [innerHTML]="study.specialization"></span>
                        </div>
                    </div>
                    <hr />
                    <div fxFlex fxLayout fxLayoutAlign="left center">
                        <div fxFlex="45">
                            <h3> Achievements </h3>
                        </div>
                        <div fxFlex="45">
                            <div *ngFor="let ach of study.achievements" fxLayout="column wrap" >
                                <div fxFlex fxLayout fxLayoutAlign="left center">
                                    <h3 fxFlex="50"> Name </h3>
                                    <span fxFlex="50" [innerHTML]="ach.name"></span>
                                </div>

                                <div fxFlex fxLayout fxLayoutAlign="left center">
                                    <h3 fxFlex="50"> Date </h3>
                                    <span fxFlex="50" [innerHTML]="ach.date"></span>
                                </div>
                                <div fxFlex fxLayout fxLayoutAlign="left center">
                                    <h3 fxFlex="50"> Score </h3>
                                    <span fxFlex="50" [innerHTML]="ach.score"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div fxFlex fxLayout fxLayoutAlign="left center">
                        <div fxFlex="50">
                            <h3> Courses </h3>
                        </div>
                        <div fxFlex="50">
                            <mat-list>
                                <mat-list-item *ngFor="let course of study.courses">
                                    <span [innerHTML]="course"></span>
                                </mat-list-item>
                            </mat-list>
                    
                        </div>
                    </div>
                </mat-step>
            </mat-vertical-stepper>

        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Projets personnels</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>