<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 [innerHTML]="translator.translations['contacts.title.key']">
            </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item>
                <a matLine target="_blank" href="https://www.linkedin.com/in/axel-maciejewski-6a6530107/" [innerHTML]="translator.translations['content.linkedin.key']"></a>
                <mat-icon>work</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>